<div class="vh-100 min-vh-100 overflow-auto p-1 bg-secondary">
    <div class="m-2 p-1 rounded">
        <h1 class="display-1 text-primary text-capitalize">{{ title }}</h1>

        <div class="mb-3">
            <label for="searchInput" class="form-label visually-hidden">Search</label>
            <input type="text" class="form-control" id="searchInput" placeholder="Type here to search">
        </div>
    </div>

    <!-- company listing -->
    <div class="m-2 p-1 rounded">
        <ul class="list-group list-group-flush ">
            <span *ngFor="let index of listing">
                <li 
                    class="text-capitalize list-group-item"
                    (mouseenter)="onHover($event, index, true)"
                    (mouseleave)="onHover($event, index, false)"
                >
                    <a 
                        class="text-decoration-none text-dark" 
                        [routerLink]="['/', index.code]"
                        (click)="onClick($event, index)"
                    >
                        {{ index.name | titlecase }}
                    </a>    
                </li>
            </span>
        </ul>
    </div>
</div>