<h2 class="text-capitalize">{{ title }}</h2>

<div class="mb-3">
    <label for="searchInput" class="form-label visually-hidden">Search</label>
    <input type="text" class="form-control" id="searchInput" placeholder="Type here to search">
</div>

<!-- company listing -->
<ul class="list-group list-group-flush" *ngFor="let index of listing">
    <!-- <li class="list-group-item active" aria-current="true">An active item</li> -->
    <li 
        class="text-capitalize list-group-item"
        (click)="onClick($event)"
        (mouseenter)="onHover($event, true)"
        (mouseleave)="onHover($event, false)"
    >
        {{ index.name | titlecase }}
    </li>
</ul>