<div class="vh-100 min-vh-100 overflow-auto p-1">
    <div class="m-2 d-flex justify-content-between">
        <h2 class="display-2 text-primary text-uppercase">
            <span *ngIf="company">
                {{ company.name | uppercase }}
            </span>
            
            <span *ngIf="company == undefined">
                Select a trend from the sidebar
            </span>
        </h2>
        
        <div class="'ms-auto">
            <!-- filter by date range -->
            <app-date></app-date>
        </div>
    </div>

    <div>
        <!-- toogle closing price -->
        <app-price></app-price>
        
        <!-- company graph trend -->
        <app-graph [company]="company"></app-graph>
    </div>
</div>
