<div>
    <div class="d-flex justify-content-between">
        <div *ngIf="company">
            <h2 class="text-uppercase">
                {{ company.name | uppercase }}
            </h2>
        </div>

        <div *ngIf="company == undefined">
            <h2 class="text-uppercase">
                Select a trend from the sidebar
            </h2>
        </div>
        
        <div class="'ms-auto">
            <!-- filter by date range -->
            <app-date></app-date>
        </div>
    </div>

    <div>
        <!-- toogle closing price -->
        <app-price></app-price>
        
        <!-- company graph trend -->
        <app-graph></app-graph>
    </div>
</div>
