<div class="vh-100 min-vh-100 overflow-auto p-1">
    <div class="m-2 d-flex justify-content-between">
        <h2 class="display-2 text-primary text-uppercase">
            <span *ngIf="company">
                {{ company.name | uppercase }}
            </span>
            
            <span *ngIf="company == undefined">
                Select a trend from the sidebar
            </span>
        </h2>
        
        <div class="'ms-auto">
            <!-- filter by date range -->
            <app-filter-date 
                [company]="company"
                [fromDate]="getDateRange().from"
                [toDate]="getDateRange().to"
            ></app-filter-date>
        </div>
    </div>

    <div class="p-5">
        <!-- toogle dataset to view -->
        <app-filter-dataset 
            [company]="company"
            [options]="getColumnNames()"
        ></app-filter-dataset>
        
        <!-- company graph trend -->
        <app-graph 
            [company]="company"
            [company_data]="company_data"
        ></app-graph>
    </div>
</div>
